<%= simple_form_for @tweet do |f| %>
  <%= f.input :tweet, label: "Say something:" %>
  <!-- :tweet is the same as putting 'tweet' -->
  <%= f.button :submit %>
<% end %>

<!-- %= -> outputs the results (returns a string that is outputted as HTML)
	 %  -> doesn't output anything; just ends a loop or something           -->

<h3>What have you Tweeted?</h3>
<uL>
	<!-- |tweet| is what we're calling each object -->
	<% @tweets.each do |tweet| %>
		<!-- get the tweet string (attribute) in the tweet model -->
		<li><%= tweet.tweet %></li>
	<% end %>
</ul>